@{ ViewData["Title"] = "Send your message"; }
<h1>@ViewData["Title"]</h1>

<select class="form-control">
    <option>Select Message Type</option>
    <option>Email</option>
    <option>Sms</option>
</select>